body{
    background-color: rgb(255, 171, 68);
    opacity: 0.7;
    
}

h1 {
    text-shadow: 0 0 5px #000000, 0 0 10px #ffffff;
    color: #ffffff;
}

h2 {
    text-shadow: 0 0 5px #000000, 0 0 10px #ffffff;
    color: #ffffff;
}

h3 {
    text-shadow: 0 0 5px #000000, 0 0 10px #ffffff;
    color: #ffffff;
}

p {
    text-shadow: 0 0 5px #000000, 0 0 10px #ffffff;
    color: #ffffff;
}

.stApp {
    background-image: url("https://images.pexels.com/photos/54455/cook-food-kitchen-eat-54455.jpeg?auto=compress&cs=tinysrgb&w=1600");
    background-attachment: fixed;
    background-size: cover
}

